body {
	background-color: #343a40;
}

hr {
	color:rgb(128, 195, 28);
	background-color: rgb(128, 195, 28);
	border-color: rgb(128, 195, 28);
}

.navbar{
	background-color: black;
	color: rgb(128, 195, 28);
}

.navbar-brand {
	color: rgb(128, 195, 28);
}

.navbar-brand:hover {
	color: rgb(128, 195, 28);
	text-decoration: underline;
}

.nav-link {
	color: rgb(128, 195, 28);
}

.nav-link:hover {
	color: rgb(128, 195, 28);
	text-decoration: underline;
}

.dropdown-divider {
	color:rgb(128, 195, 28);
	background-color: rgb(128, 195, 28);
	border-color: rgb(128, 195, 28);
}

#notification_btn {
	color: rgb(128, 195, 28);
	border: none;
	background-color: black;
	margin-right: 1rem;
}

#notification_btn:hover  {
	text-decoration: underline;
}

#notification_btn:focus  {
	box-shadow: none;
	border: none;

}

#searchbtn {
	color: rgb(128, 195, 28);
	border-color: rgb(128, 195, 28);
}

#searchbtn:hover {
	background-color: rgb(128, 195, 28);
	border-color: white;
	color: white;
}

span.navbar-toggler-icon {
	border-color: white;
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128, 195, 28)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	color:black;
}

.form-control:focus {
	box-shadow: 0 0 3pt 2pt rgb(128, 195, 28);
	border-color: rgb(128, 195, 28);
}
select option:active{
	background-color: rgb(128, 195, 28);
}

#submitbtn {
	background-color: white;
	color: rgb(128, 195, 28);
	border-color:rgb(128, 195, 28);
}

#submitbtn:hover {
	background-color: rgb(128, 195, 28);
	color: white;
	border-color:rgb(128, 195, 28);
}

#maincontent {
	margin-top: 1rem;
}

.card {


}
.card-title {
	margin: 0px;
}
.searchresultstitle {
color:rgb(128, 195, 28);

}
#searchresultcard {
	width: 30rem;
	margin: 1rem;

}

#checkhoursbtn {
background-color: rgb(128, 195, 28);
	color: white;
	border-color:rgb(128, 195, 28);
}
#editbtncontainer{
	margin-top: 1rem;
	padding: 0px;

}
#editdatabtn {
background-color: rgb(225, 193, 7, 1);
	color: white;
	border-color: rgb(225, 193, 7, 1);
}

#removedatabtn {

	background-color: rgb(220, 53, 69, 1);
	color: white;
	border-color: rgb(220, 53, 69, 1);
}
